* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 16px; /* definir uma font-size padrão */
}

body {
  margin: 0;
  background-color: #daecff;
  padding-bottom: 200px;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  text-align: center;
}

.logo {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

#menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #0b4d8f;
}

#conteudo {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.elementosNave {
  display: flex;
  font-weight: bolder;
  font-size: 18px;
}

.elementosNave a {
  padding: 0 15px;
  color: #fff;
}

#conteudo {
  justify-content: center;
}

#conteudo h4 {
  text-align: center;
}

.carousel-cell {
  margin-right: 10px;
}

.titulo_passadas {
  text-align: center;
  width: 500px;
  padding: 20px 20px;
  margin: auto;
  text-align: justify;
  line-height: 2;
}

.informacao {
  margin: 50px 0 100px;
}

.informacao > ul > li {
  text-align: center;
  width: 350px;
  margin: 10px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 30px 20px;
  box-shadow: 2px 9px 24px -1px #9c9a9a;
  border-top: 4px solid #0b4d8f;
}

.informacao > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#fotos_acoes ul {
  display: flex;
  justify-content: space-around;
}

.doe_agora {
  display: flex;
  justify-content: center;
}

#contatos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #0b4d8f;
}

#contatos ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#contatos li {
  padding: 0 20px;
  text-align: center;
  color: #fff;
}

.telefone {
  padding: 0 20px;
  text-align: center;
  color: #fff;
}

footer {
  text-align: center;
  background: #1a6bd7;
  padding: 5px 10px;
  color: #fff;
}

.conteudo-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.conteudo-container .img-container {
  position: absolute;
  bottom: -35px;
  background: #0b4d8f;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contato {
  margin-top: 80px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  border-radius: 0 0 5px 15px;
  background: #fff;
  box-shadow: 2px 9px 24px -1px #9c9a9a;
  border-top: 4px solid #0b4d8f;
}

.contato h1 {
  text-align: center;
}

.contato span {
  font-weight: bold;
  padding-right: 10px;
}

.contato .contato-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0b4d8f;
}

.contato .contato-info a {
  padding: 15px 0;
}

.doacao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5em;
}

.doacao .img-container {
  display: inline-block;
  background: #f1e172;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.doacao img {
}

.contato-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
