* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    font-size: 16px; /* definir uma font-size padrão */
}

body {
    margin: 0;
    background-color: #daecff;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
}

#menu {
  display: flex;
  justify-content:space-around;
  align-items: center; 
  flex-direction: row;
  background-color: #0b4d8f;
}

#conteudo {
  width: 1200px;
  margin: 0 auto; 
}

.banner {
  width: 100%;
  height: auto;
}

.elementosNave{
  display: flex;
  font-weight: bolder;
  font-size: 18px;
}

.elementosNave a {
  padding: 0 15px;
  color: #fff;
}

#conteudo{
justify-content: center;
}

#conteudo h4 {
  text-align: center;
}

.titulo_passadas {
  text-align: center;
  width: 500px;
  padding: 20px 20px;
  margin: auto;
  text-align: justify;
  line-height: 2;
}

.informacao li{
  text-align: center;
  width: 350px;
  padding: 10px 20px;

}

.informacao > ul{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;

}
#fotos_acoes ul {
  display: flex;
  justify-content:space-around;
}

.doe_agora {
  display: flex;
  justify-content: center;
}

#contatos {
  display: flex;
  justify-content:space-around;
  align-items: center; 
  flex-direction: row;
  background-color: #0b4d8f;
}

#contatos ul {
  display:flex;
  justify-content:space-around;
  align-items: center; 
  flex-direction: row;
}

#contatos li {
  padding: 0 20px;
  text-align: center;
  color: #fff;
}

.telefone {
  padding: 0 20px;
  text-align: center;
  color: #fff;
}

footer {
  text-align: center;
  background: #1a6bd7;
  padding: 5px 10px;
  color: #fff;
}

